:root {
  --color-bg: #26023e;
  --colour-bg-accent: #3e0a5c;
  --colour-outline: #0b0314;
  --color-text: #f1beff;
  --color-button: #7625bd;
  --colour-button-hover: #7319a4;
}

* {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 75%;
    margin: auto;
}

h1, h2{
    text-align: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

select, button {
    background-color: var(--colour-button-hover);
    color: var(--color-text);
    padding: 12px 12px;
    font-size: 14px;
    border: none;
}

button {
    background-color: var(--color-button);
    color: var(--color-text);
    cursor: pointer;
}

button:hover {
    background-color: var(--colour-button-hover);
}

.section {
    margin-bottom: 25px;
}

pre {
    background-color: var(--colour-bg-accent);
    padding: 15px;
    overflow-x: auto;
    white-space: pre-wrap;
    border: 4px solid var(--colour-outline);
}

textarea {
    width: 100%;
    height: 180px;
    background-color: var(--colour-bg-accent);
    color: var(--color-text);
    padding: 12px;
    border: 4px solid var(--colour-outline);
    resize: vertical;
}
